body {
    font-family: "Comforta-bold";
    scrollbar-color: rgb(42, 192, 55) white;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Comforta-bold;
    src: url(Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(Comfortaa-Regular.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(Comfortaa-Light.ttf);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    box-sizing: border-box;
    position: sticky;
}

.logo1 {
    width: 50px;
    padding-left: 10px;
    position: relative;
}

* {
    padding: 0; margin: 0;
}

.menu {
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    list-style: none; 

}

.menu li{
    margin: 30px;
}

.menu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(42, 192, 55);
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background-color:  rgb(42, 192, 55);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .5s;
    width: 100%;
    height: auto;
}

.burger-logo {
    width: 150px;
}

.menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}

@media (min-width:769px){
    .menu {
        display: flex;
    }

    .menu__burger {
        display: none;
    }
}


@media (max-width:768px)  {
    .menu {
        display: none;
    }

    .menu__burger {
        display: flex;
    }

    .menu-list {
        background-size: cover;

    }
}

@media (min-width:992px)  {
    .menu {
        display: flex;
    }

    .menu__burger {
        display: none;
    }
}

.history {
    background-image: url(IMG_9976.JPEG);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 200px;
    font-size: 25px;
    background-color: black;
}

@media (max-width:768px) {
    .history {
        padding: 70px;
        font-family: "Comfortaa-Regular";
    }
}

.sch-ph {
    background-color: rgb(0, 0, 0);
}

@media (max-width:768px) {
    .history {
        font-size: 15px;
    }
}

.ask {
    background-color: rgb(0, 0, 0);
    box-shadow: none;
    border: medium solid rgb(255, 255, 255);
    border-radius: 15px;
    font-family: Comforta-bold;
    font-size: 15px;
    padding: 5px;
    color: rgb(255, 255, 255);
}


h2 a:hover {
    color: rgb(42, 192, 55);
    text-decoration: none;
}

.news__name {
    padding: 25px;
    margin: 5px;
}

h2 a{
    text-decoration: underline;
    color: black;
}

.news-table {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

@media(max-width:576px) {
    .news {
        overflow-x: scroll;
        overflow-y: hidden;
    }

}

@media (max-width:768px) {
    .ask {
        font-size: 10px;
        font-family: Comforta-bold;
    }
}

.info-headline {
    margin: 25px;
}

.contacts-name {
    text-decoration: underline;
}

.contacts-name:hover {
    text-decoration: none;
    color: rgb(42, 192, 55);
}

.table-info {
    margin-left: 15px;
    list-style-type: none;
    padding: 15px;
    margin: 15px;
}

.boss-img {
    width: 250px;
}

@media (max-width: 576px) {
    .boss-img {
        width: 200px;
    }
}

.boss-name {
    margin-left: 0;
}

.txt-info { 
    margin-left: 0;
    font-size: smaller;
}

@media (max-width: 768px) {
    .boss-img {
        width: 200px;
    }
}

.banner {
    width: 100%;
    font-size: auto;
}

.news-headline {
    margin: 25px;
    padding: 15px;
}

.news-name {
    text-decoration: underline;
}

.news {
    width: 450px;
    margin: 20px;
}

.news-link {
    margin-left: 20px;
}

@media (max-width:576px) {
    .news {
        width: 250px;
    }

    .news-link {
        font-size: medium;
    }
}

@media (max-width:768px) {
    .news {
        width: 300px
    }
}

.news-table {
    display: flex;
}

.news-link {
    text-decoration: none;
    color: black;
    font-size: large;
}

.news-link:hover {
    color: rgb(42, 192, 55);
}

.news-name:hover {
    color: rgb(42, 192, 55);
    text-decoration: none;
}

.tg-news {
    background-color: rgb(42, 192, 55);
    box-shadow: none;
    border: medium solid black;
    border-radius: 15px;
    font-family: Comforta-bold;
    font-size: 15px;
    padding: 7px;
    color: rgb(255, 255, 255);
}

.button {
    padding: 10px;
}

.link-news-name{
    padding: 20px;
}

*{
    padding: 0;
    margin: 0;
}

.arrow-down:hover {
    color: rgb(42, 192, 55);
    margin-top: 3px;
}

.more{
    color: rgb(42, 192, 55);
    text-decoration: none;
}

.more:hover {
    text-decoration: underline;
}

.map {
    padding-right: 50px;
    width: 100px;
}

.foot {
    background-color: rgb(42, 192, 55);
    padding: 10px;
    display: flex;
}

.table {
    list-style-type: none;
    color:white;
    margin-left: 50px;
}

.arrow {
    width: 70px;
}

.mail {
    color: rgb(255, 255, 255);

}

.mail:hover {
    text-decoration: none;
}

@media (max-width: 576px) {
    .table {
        font-size: 10px;
        margin-left: 0px;
    }

    .arrow {
        width: 40px;
    }
}

.sch-headline {
    background-color: black;
    padding: 10px;
}

.sch-name {
    color: rgb(255, 255, 255);
    font-size: 50px;
}


video {
    width: 100%;
}

.tg-img {
    width:  50px;
    margin-right: 10px;
}

.vk-img {
    width: 85px;
}

@media (max-width:576px) {
    .tg-img {
        width: 40px;
    }

    .vk-img {
        width: 65px;
    }

    .ar-dwn {
        font-size: smaller;
    }

    .soc-headline {
        font-size: medium;
    }
}

.about-school {
    background-color: black;
}

.slogan {
    font-size: 50px;
}

@media (max-width: 768px) {
    .slogan {
        font-size: 20px;
        font-family: "Comforta-bold";
    }
}

@media (max-width: 768px) {
    .burger-logo {
        width: 80px;
    }
}

